a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.container {
	margin-top: 50px;
}

.modal-body .form-row {
	margin-top: 10px;
}

.list-group {
	list-style-type: none;
}

.list-group .btn {
	margin-top: 10px;
}

#loaderImage {
	display: none;
	position: absolute;
	top: 120px;
	left: 30%;
	width: 100px;
	margin: 50px auto 50px auto;
}

#pageContent a {
	display: block;
	padding: 10px;
}
